.dishes-section {
  width: 100%;
  height: 40rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
  background-color: #f9f9f9;
  padding: 3rem;
  .dishes-title {
    h1 {
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      b {
        color: #6c5fbc;
      }
    }
  }
}
